In [2]:
!ls

Pipfile       green_tripdata_2019-09.csv  process.ipynb
Pipfile.lock  homework.md		  taxi+_zone_lookup.csv

In [5]:
!gzip -d green_tripdata_2019-09.csv.gz

In [3]:
import pandas as pd

In [12]:
df = pd.read_csv("green_tripdata_2019-09.csv")
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

/tmp/ipykernel_13744/2141208566.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("green_tripdata_2019-09.csv")

In [28]:
df.shape

(449063, 20)

In [29]:
df[(df['lpep_pickup_datetime'].dt.month == 9) & (df['lpep_pickup_datetime'].dt.day == 18) &
   (df['lpep_dropoff_datetime'].dt.month == 9) & (df['lpep_dropoff_datetime'].dt.day == 18)].shape

(15612, 20)

In [31]:
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [45]:
df.loc[df["trip_distance"].idxmax(), "lpep_pickup_datetime"]

Timestamp('2019-09-26 19:32:52')

In [49]:
df_zones = pd.read_csv("taxi+_zone_lookup.csv")

In [51]:
df_zones

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [82]:
df.groupby("PULocationID")['total_amount'].sum().sort_values()

PULocationID
109        41.60
211        67.53
172        68.10
214        73.04
84         74.24
         ...
82     258164.89
166    261491.77
41     304736.00
75     406348.55
74     553336.48
Name: total_amount, Length: 257, dtype: float64

In [88]:
df_sub = df[df["lpep_pickup_datetime"].dt.date == pd.to_datetime("2019-09-18").date()]
df_sub.join(df_zones, on="PULocationID").groupby("Borough")['total_amount'].sum().sort_values()

Borough
Unknown            995.55
Staten Island    23727.05
Bronx            33338.01
Manhattan        73597.91
Brooklyn         79621.53
Queens           89689.76
Name: total_amount, dtype: float64

In [111]:
df_zones[df_zones["Zone"] == "Astoria"]
df_zones[df_zones.LocationID == df.loc[df[df["PULocationID"] == 7]['tip_amount'].idxmax(), "DOLocationID"]]

   LocationID Borough     Zone service_zone
6           7  Queens  Astoria    Boro Zone

     LocationID Borough         Zone service_zone
131         132  Queens  JFK Airport     Airports